In [1]:
countries = ["Atlanta", "Baltimore", "Chicago", "Denver"]

In [2]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver']

In [27]:
bio_data = ["Talal", "Owais", 18, 20.5, False, "4321-432567-0"]

## Appending values in List

In [3]:
countries = countries + ["seattle", "Los Angles"]

In [4]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'seattle', 'Los Angles']

In [5]:
larger_countries_list = countries + ['New York']

larger_countries_list = countries + ['New York']
  NAME                  old_list  +  new_list

In [6]:
larger_countries_list

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

In [7]:
type(larger_countries_list)

list

In [8]:
countries

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'seattle', 'Los Angles']

In [9]:
countries.append('New York')

In [10]:
countries

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

In [11]:
countries.insert()

TypeError: insert expected 2 arguments, got 0

In [12]:
countries.insert(0, 'Pakistan')

In [13]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

### Slicing

In [14]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

In [15]:
# 1 2 3 4 -> 1(include), 4(exclude)
# index starts from 0 
slicedlist = countries[1:4]

In [16]:
slicedlist

['Atlanta', 'Baltimore', 'Chicago']

In [17]:
slicedlist = countries[:4]

In [18]:
slicedlist

['Pakistan', 'Atlanta', 'Baltimore', 'Chicago']

In [19]:
slicedlist = countries[1:]

In [20]:
slicedlist

['Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

In [21]:
slicedlist = countries[:]

In [22]:
slicedlist

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

In [23]:
# -1, -2, -3, 
slicedlist = countries[-3:]

In [24]:
slicedlist

['seattle', 'Los Angles', 'New York']

### Deleting Values from List

In [25]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

In [28]:
bio_data

['Talal', 'Owais', 18, 20.5, False, '4321-432567-0']

In [29]:
del bio_data[5]

In [30]:
bio_data

['Talal', 'Owais', 18, 20.5, False]

In [31]:
bio_data.remove('Hassan')

ValueError: list.remove(x): x not in list

In [32]:
bio_data

['Talal', 'Owais', 18, 20.5, False]

In [33]:
bio_data.remove('Ali')

ValueError: list.remove(x): x not in list

#### Popping Elements from List

In [34]:
daily_task = ["email Frank", "call Sarah", "meet with Zach"]

In [35]:
daily_task.pop(1)

'call Sarah'

In [36]:
daily_task

['email Frank', 'meet with Zach']

In [37]:
task_completed = []

In [38]:
task_completed =  task_completed + list(daily_task.pop(1))

In [39]:
task_completed

['m', 'e', 'e', 't', ' ', 'w', 'i', 't', 'h', ' ', 'Z', 'a', 'c', 'h']

In [41]:
daily_task = ["email Owais", "call Talal", "meet with Umar"]

In [42]:
task_completed = []

In [43]:
daily_task

['email Owais', 'call Talal', 'meet with Umar']

In [44]:
task_completed

[]

In [45]:
task_completed.insert(0, daily_task.pop(1))

In [46]:
task_completed

['call Talal']

In [47]:
first_name = "Qasim"

In [48]:
first_name = "Ali"

In [49]:
first_name

'Ali'

In [50]:
countries

['Pakistan',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

In [51]:
countries[1] = "something new"

In [52]:
countries

['Pakistan',
 'something new',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

### Tuples

In [53]:
tuple_bio_data = ("Zain", "Umar", 18, 32.5, False, "4321-432567-0")

In [54]:
tuple_bio_data

('Zain', 'Umar', 18, 32.5, False, '4321-432567-0')

In [55]:
type(tuple_bio_data)

tuple

In [56]:
tuple_bio_data[1]

'Umar'

In [57]:
tuple_bio_data[1:]

('Umar', 18, 32.5, False, '4321-432567-0')

In [58]:
tuple_bio_data

('Zain', 'Umar', 18, 32.5, False, '4321-432567-0')

In [59]:
tuple_bio_data[1] = "Mehmood"

TypeError: 'tuple' object does not support item assignment

In [60]:
tuple_bio_data.count('Qasim')

0

In [61]:
tuple_bio_data.index('Hassan')

ValueError: tuple.index(x): x not in tuple

## for loops

In [62]:
countries

['Pakistan',
 'something new',
 'Baltimore',
 'Chicago',
 'Denver',
 'seattle',
 'Los Angles',
 'New York']

searching_country = "Pakistan"

if searching_country == countries[0]:
    print("yes, Pakistan is available")
elif searching_country == countries[1]:
    print("yes, Pakistan is available")

In [63]:
for temp in countries:
    if temp == "Pakistan":
        print("Pakistan Zindabad")
    else:
        print('Not availbale')

Pakistan Zindabad
Not availbale
Not availbale
Not availbale
Not availbale
Not availbale
Not availbale
Not availbale

In [64]:
year = int(input("Enter a Year: "))

if (year % 4 ==0) and (year % 100 ==0) or (year % 400 ==0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not leap year")

Enter a Year:

ValueError: invalid literal for int() with base 10: ''

In [65]:
for temp in [1600, 1700, 1800, 1900, 2000]:
    print(temp)
    print('loop cycle end')

1600
loop cycle end
1700
loop cycle end
1800
loop cycle end
1900
loop cycle end
2000
loop cycle end

In [66]:
for year in [1600, 1700, 1800, 1900, 2000]:
    
    if (year % 4 ==0) and (year % 100 ==0) or (year % 400 ==0):
        print(f"{year} is a leap year")
    else:
        print(f"{year} is not leap year")

1600 is a leap year
1700 is a leap year
1800 is a leap year
1900 is a leap year
2000 is a leap year

In [67]:
# Generator Function

range(10): 1-9, 3
    
1, 2, 3

SyntaxError: illegal target for annotation (1900833481.py, line 3)

In [68]:
range(10)

range(0, 10)

In [69]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [70]:
# range(start, end)
for i in range(10, 15):
    print(i)

10
11
12
13
14

In [71]:
# range(start, end, step)
for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

In [72]:
cleanest_cities = ["Cheyenne",
                   "Santa Fe",
                   "Tucson",
                   "Great Falls",
                   "Honolulu"]

In [73]:
city_to_check = "Santa Fe"

if city_to_check == cleanest_cities[0]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[1]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[2]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[3]:
    print("It's one of the cleanest cities")
elif city_to_check == cleanest_cities[4]:
    print("It's one of the cleanest cities")
else:
    print("Not Available")

It's one of the cleanest cities

In [74]:
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")

It's one of the cleanest cities